<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">

    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item" style="margin-left:0;">
                    <i class="code icon"></i>
                    <a href="/" >Blog Site</a>
                </div>

                <a href="/blogs/new" class="item">New Post</a>
                <% if (!currentUser){%>
                    <a href="/login" class="right item">Login</a>
                    <a href="/register" class=" item">Sign up</a>
                   <% }else {%>
                    <a href="#"  class="right item">Signed in as <%=currentUser.username%></a>
                    <a href="/logout" class="item">Logout</a>
                   <%};%>
            </div>
        </div>
